<h1 class="mb-4">Lista de Pokémon</h1>
<a href="/fetch-and-save" class="btn btn-primary mb-4">Actualizar Datos</a>
<form action="/generate-csv" method="POST">
    <div class="form-group">
        <label for="clienteNombre">Nombre del Cliente</label>
        <input type="text" class="form-control" id="clienteNombre" name="clienteNombre" required>
    </div>
    <div class="form-group">
        <label for="clienteEmail">Email del Cliente</label>
        <input type="email" class="form-control" id="clienteEmail" name="clienteEmail" required>
    </div>
    <div class="form-group">
        <label for="clienteDireccion">Dirección del Cliente</label>
        <input type="text" class="form-control" id="clienteDireccion" name="clienteDireccion" required>
    </div>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Seleccionar</th>
                <th scope="col">Nombre</th>
                <th scope="col">Imagen</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each pokemons}}
                <tr>
                    <td><input type="checkbox" name="selectedProducts" value="{{this.id}},{{this.name}}"></td>
                    <td>{{this.name}}</td>
                    <td><img src="{{this.image}}" alt="{{this.name}}" class="img-fluid" style="width: 50px; height: 50px;"></td>
                    <td><input type="number" name="quantity_{{this.id}}" class="form-control" min="1" value="1"></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Comprar</button>
</form>
